{% extends 'registration/menuadmin.html' %} 
{% block titulo %}Crear Expediente{% endblock %}
{% load static %} 
{% block dash %}

<section class="signin-section">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
        <div class="row align-items-center">    
            <div class="col-md-6">
            <div class="title">
                <h2>Crear Expediente</h2>
            </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
            <div class="breadcrumb-wrapper">
                <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">Solicitudes</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'listausuario' %}">Usuarios</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Crear Solicitud
                    </li>
                </ol>
                </nav>
            </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <div class="row">
            <!-- Contenido de perfil de usuario -->
            <section class="profile-info signup-wrapper">
                <form method="post">
                    <div class="row">
                        {% csrf_token %}
                        <!-- Entrada Oculta de usuario-->
                        <div class="col-md-6">
                            <div class="input-style-1">
                                <label for="solicitud">Solicitud ID:</label>
                                <input type="text" class="form-control-plaintext" readonly name="solicitud" value="{{ solicitud.id }}">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-style-1">
                                <label for="">Fecha Radicado</label>
                                {{ form.fecha_radicado }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-style-2">
                                <label for="">Hora Radicado</label>
                                {{ form.hora_radicado }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-style-1">
                                <label for="radicado">Radicado:</label>
                                {{ form.radicado }}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="select-style-1">
                                <label for="tipo_documento">Despacho</label>
                                <div class="select-position">
                                    {{ form.despacho }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-style-1">
                                <label for="archivo">Archivo</label>
                                {{ form.archivo }}
                            </div>                              
                        </div>
                        
                        <div class="col-12">
                            <div class="button-group d-flex justify-content-center flex-wrap">
                                <button type="reset" class="main-btn light-btn btn-hover w-30 text-center mx-2">
                                    Limpiar Formulario
                                </button>
                                <button type="submit" class="main-btn primary-btn btn-hover w-30 text-center mx-2">
                                    Crear Solicitud
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</section>

<script>
    const textorich = document.getElementById('id_descripcion_hechos');
    textorich.classList.add('col-md-12');
    console.log(textorich);
</script>

{% endblock %}