{% extends 'registration/menuadmin.html' %} 
{% block titulo %}Cargar Pruebas y Documentos{% endblock %}
{% load static %} 
{% block dash %}

<section class="signin-section">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
        <div class="row align-items-center">    
            <div class="col-md-6">
            <div class="title">
                <h2>Cargar Pruebas</h2>
            </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
            <div class="breadcrumb-wrapper">
                <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">Solicitudes</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'listausuario' %}">Usuarios</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Crear Solicitud
                    </li>
                </ol>
                </nav>
            </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <div class="row">
            <!-- Contenido de perfil de usuario -->
            <section class="profile-info signup-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <button class="nav-link active" id="nav-pruebas-tab" data-bs-toggle="tab" data-bs-target="#nav-pruebas" type="button" role="tab" aria-controls="nav-pruebas" aria-selected="true">Pruebas</button>
                            </div>
                          </nav>
                          <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-pruebas" role="tabpanel" aria-labelledby="nav-pruebas-tab" tabindex="0">
                                <section class="container-fluid">
                                    <div class="card mt-2">
                                        <div class="card-header">
                                          Detalle de Solicitud
                                        </div>
                                        <div class="card-body">
                                          <h5 class="card-title">Solicitud #<span class="text-success">{{ solicitud.id  }}</span>  
                                                                &nbsp;Fecha: <span class="text-success">{{ solicitud.fecha_solicitud }}</span>
                                                                &nbsp;Cliente: <span class="text-success">{{ solicitud.usuario.first_name }} {{ solicitud.usuario.last_name }}</span>
                                          </h5>
                                          <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="card-title"><span class="text-success">Descripcion de los Hechos</span></h5>
                                                <blockquote class="card-text">{{ solicitud.descripcion_hechos|safe }}</blockquote>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="card-title"><span class="text-success">Tipo de Orientación:</span></h5>
                                                <p class="card-text">{{ solicitud.tipo_orientacion|safe }}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="card-title"><span class="text-success">Observación adicional:</span></h5>
                                                <p class="card-text">{{ solicitud.observacion_adicional|safe }}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="card-title"><span class="text-success">Abogado Asignado</span></h5>
                                                <p class="card-text">
                                                    {% for deta in deta_solicitud %}
                                                        {{ deta.abogado.first_name }} {{ deta.abogado.last_name }}
                                                    {% endfor %}
                                                </p>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                                      <hr>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        Adicionar Pruebas
                                    </button>
                                    
                                    <div class="table col-md-12 mt-3">
                                        <table class="table table-striped table-bordered">
                                            <thead class="text-center">
                                                <tr>
                                                    <th>Nombre de la Prueba</th>
                                                    <th>Archivo Soporte</th>
                                                    <th>Descripcion</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center"> 
                                                {% for item in pruebas %}
                                                <tr>
                                                    <td>{{ item.nombre_prueba }}</td>
                                                    <td>{{ item.archivo }}</td>
                                                    <td>{{ item.descripcion|safe }}</td>
                                                </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="3" class="text-center">No se han registrado pruebas, haga clic en el boton "Agregar Pruebas"</td>
                                                    </tr>
                                                {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </section>
                            </div>
                          </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Pruebas a la Solicitud</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form enctype="multipart/form-data" method="post" id="pruebas_form" novalidate="">
            {% csrf_token %}
            <div class="modal-body">
                <div class="row">
                    <!-- Entrada Oculta de id -->
                    <input type="text" class="form-control-plaintext" readonly name="solicitud" value="{{ solicitud.id }}">
                    {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">
                            <li>{{ error }}</li>
                        </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="col-md-12 row">
                        <div class="col-md-12">
                            <div class="input-style-1 mt-1">
                                <div class="input-style-1">
                                    <label for="">Nombre de la Prueba</label>
                                    {{ prueba_form.nombre_prueba }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-style-2">
                                <label for="">Evidencia:</label>
                                {{ prueba_form.archivo }}
                            </div>
                        </div>
                    </div>                                            
                    <div class="col-md-12">
                        <label for="">Descripción:</label>
                        {{ prueba_form.descripcion }}
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex">
                <button type="reset" class="btn-sm light-btn btn-hover text-center mx-2">
                    Limpiar Formulario
                </button>
                <button type="submit" name="cargar_pruebas" class="btn-sm primary-btn btn-hover text-center mx-2">
                    Agregar pruebas
                </button>
                <button type="submit" name="terminar_carga" class="btn-sm success-btn btn-hover text-center mx-2">
                    Terminar
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>
  

<script>

</script>

{% endblock %}