{% extends 'registration/menuadmin.html' %}
{% block titulo %}Muro{% endblock %}
{% load static %}

{% block dash %}
    <section class="container-fluid">
        <div class="row">
            <blockquote>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat qui asperiores et placeat perferendis, iure dignissimos animi impedit? Modi dignissimos fugiat reprehenderit! Illo voluptatum animi earum in molestias inventore veritatis!
            </blockquote>
        </div>
    </section>
{% endblock %}