{% extends 'registration/menuadmin.html' %} 
{% block titulo %}Perfil de Usuario{% endblock %}
{% load static %} 
{% block dash %}

<section class="signin-section">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
            <div class="title">
                <h2>{{ request.usuario.first_name }} {{ request.usuario.last_name }}</h2>
            </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
            <div class="breadcrumb-wrapper">
                <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">Registro Único de Peticiones</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'listausuario' %}">Usuarios</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Perfil de usuario
                    </li>
                </ol>
                </nav>
            </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <div class="row">
            <!-- Contenido de perfil de usuario -->
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4 text-center mt-3">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdJIHm0z37vL_H2CeK3fSjgmgTcmQwK8cj5vp7KzFD1wcYjRDo1iq2jb1gRMu6grtKApU&usqp=CAU" class="img-fluid rounded-start mt-5" alt="usuario">
                        </div>
                        <div class="col-md-12">
                            <a href="/users/detalle_usuario/?email={{usuario.email}}"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h4 class="card-title">{{ usuario.first_name }} {{ usuario.last_name }}</h4>
                      <h5 class="card-title text-success row">
                        <small class="col-md-4"><i class="fa-solid fa-user-tag"></i> Perfil de usuario:</small> <span class="col-md-8">{{ usuario.groups.first.name }}</span>
                        {% if usuario.groups.first.name == 'Abogados' %}
                        <small class="col-md-4"><i class="fa-regular fa-id-card"></i> Tarjeta Profesional:</small><span class="col-md-8">{{ tarjetaus.numero_tarjeta }}</span>
                        {% endif %}
                    </h5>
                      <div class="row">

                        <div class="col-md-4">
                            <p class="card-text">Email de Usuario:</p>
                            <p class="card-text">Fecha de Registro:</p>
                            <p class="card-text">Nacionalidad de Usuario:</p>
                            <p class="card-text">Número de Identificación:</p>
                            <p class="card-text">Fecha de Expedición:</p>
                            <p class="card-text">Fecha de Nacimiento:</p>
                            <p class="card-text">Genero:</p>
                            <p class="card-text">Estado Civil:</p>
                            <p class="card-text">Etnia:</p>
                            <p class="card-text">Tipo de Vulnerabilidad:</p>
                            <p class="card-text">Teléfonos: <a href="{% url 'telefono_usuario' usuario.id %}"><i class="fa-solid fa-phone"></i> +</a></p>
                        </div>
                        <div class="col-md-8">
                            {% for item in detalleus %}
                            {% if forloop.first %} <!-- Con esta condición evitamos desbordamentos en el loop -->
                                <p class="card-text">{{ usuario.email}}</p>
                                <p class="card-text">{{ item.usuario.date_joined}}</p>
                                <p class="card-text">{{ item.usuario.nacionalidad}}</p>
                                <p class="card-text">{{ item.tipo_documento }} - {{ item.usuario.numero_identificacion}}</p>
                                <p class="card-text">{{ item.fecha_expedicion }}</p>
                                <p class="card-text">{{ item.fecha_nacimiento }}</p>
                                <p class="card-text">{{ item.genero }}</p>
                                <p class="card-text">{{ item.estado_civil }}</p>
                                <p class="card-text">{{ item.etnia }}</p>
                                <p class="card-text">{{ item.vulnerable }}</p>
                                <p class="card-text row">
                                    {% for telefono in telefonos %}
                                        <span class="col-md-12">{{ telefono.tipo_telefono }}: {{ telefono.numero_tel }} <br>
                                    {% empty %}
                                        <span class="col-md-12">No se han registrado teléfonos para el usuario</span>
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {% endfor %}
                        </div>
                      </div>
                      <hr>
                      <p class="card-text"><small class="text-body-secondary">Último Inicio de Sesión: {% if item.usuario.last_login == None %}Sin Registro{% else %}{{ item.usuario.last_login }}{% endif %}</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>

{% endblock %}