{% extends 'registration/menuadmin.html' %} 
{% block titulo %}Perfil de Usuario{% endblock %}
{% load static %} 
{% block dash %}

<section class="signin-section">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
            <div class="title">
                <h2>{{ request.usuario.first_name }} {{ request.usuario.last_name }}</h2>
            </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
            <div class="breadcrumb-wrapper">
                <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">Registro Único de Peticiones</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'listausuario' %}">Usuarios</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Perfil de usuario
                    </li>
                </ol>
                </nav>
            </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <div class="row">
            <!-- Contenido de perfil de usuario -->
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h4 class="card-title">{{ request.user.first_name }} {{ request.user.last_name }}</h4>
                      <h5 class="card-title text-success">Perfil de usuario: {{ request.user.groups.first.name }}</h5>
                      <div class="row">

                        <div class="col-md-4">
                            <p class="card-text">Email de Usuario:</p>
                            <p class="card-text">Fecha de Registro:</p>
                            <p class="card-text">Nacionalidad de Usuario:</p>
                            <p class="card-text">Número de Identificación</p>
                            <p class="card-text">Fecha de Expedición</p>
                            <p class="card-text">Fecha de Nacimiento</p>
                            <p class="card-text">Genero</p>
                            <p class="card-text">Estado Civil</p>
                            <p class="card-text">Etnia</p>
                            <p class="card-text">Tipo de Vulnerabilidad</p>
                        </div>
                        <div class="col-md-8">
                            {% for item in detalle %}
                                <p class="card-text">{{ request.user.email}}</p>
                                <p class="card-text">{{ request.user.date_joined}}</p>
                                <p class="card-text">{{ request.user.nacionalidad}}</p>
                                <p class="card-text">{{ item.tipo_documento }} - {{ request.user.numero_identificacion}}</p>
                                <p class="card-text">{{ item.fecha_expedicion }}</p>
                                <p class="card-text">{{ item.fecha_nacimiento }}</p>
                                <p class="card-text">{{ item.genero }}</p>
                                <p class="card-text">{{ item.estado_civil }}</p>
                                <p class="card-text">{{ item.etnia }}</p>
                                <p class="card-text">{{ item.vulnerable }}</p>
                            {% endfor %}
                        </div>
                      </div>
                      <hr>
                      <p class="card-text"><small class="text-body-secondary">Último Inicio de Sesión: {{ request.user.last_login }}</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>

{% endblock %}