{% extends 'registration/menuadmin.html' %}
{% block titulo %}Adicionar Datos a Usuario{% endblock %}
{% load static %}

{% block dash %}

<section class="section">
    <section class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title">
                    <h2>Telefonos de {{ usuario.first_name }} {{ usuario.last_name }}</h2>
                    </div>
                </div>
            <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#0">Menu</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#0">Gestion de usuarios</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Salir 
                            </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <div class="row">
            <div class="card-style settings-card-1 col-12">
                <section class="profile-info">
                    <div class="d-flex aling-items-center">
                        <article class="col-12 mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <h5>{{ usuario.first_name }} {{ usuario.last_name }}</h5>
                                    <h5>{{ usuario.numero_identificacion }}</h5>
                                </div>
                                <div class="col-4">
                                    <h5>{{ usuario.email }}</h5>
                                    <h5>{{ usuario.nacionalidad }}</h5>
                                </div>
                                <div class="col-4">
                                    <h5 class="text-light">Grupo: {% for grupo in usuario.groups.all %} {{grupo.name}} {% endfor %}</h5>
                                </div>
                            </div>                                
                        </article>
                    </div>
                </section>
                <hr>
                <div class="profile-info mt-2">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <!-- Entrada Oculta de usuario-->
                            <input type="hidden" name="usuario" value="{{ usuario.id }}">

                            <div class="col-3">
                                {% for tel in telefonos %}
                                    {{ tel.tipo_telefono }}: {{ tel.numero }} <br>
                                {% empty %}
                                    <span>No hay números registrados aún</span>
                                {% endfor %}
                            </div>

                            <div class="col-3">
                                <div class="select-style-1">
                                    <label for="">Tipo de Teléfono</label>
                                    <div class="select-position">{{ form.tipo_telefono }}</div>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="input-style-1">
                                  <label for="">Número de Telefono</label>
                                  {{ form.numero_tel }}
                                </div>
                                <!-- end input -->
                            </div>
                            <div class="col-3"></div>
                            <div class="col-12">
                                <div class="button-group d-flex justify-content-center flex-wrap">
                                    <button type="reset" class="main-btn light-btn btn-hover w-30 text-center mx-2">
                                        Limpiar Formulario
                                    </button>
                                    <button type="submit" class="main-btn primary-btn btn-hover w-30 text-center mx-2">
                                        Adicionar Teléfono
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}