{% extends 'registration/menuadmin.html' %}
{% block titulo %}Usuarios{% endblock %}
{% load static %}

{% block dash %}
    <section class="container-fluid">
        <div class="row">

            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-9 d-flex">
                        <div class="title">
                            <h2>Listado de Usuarios</h2>
                        </div>
                        <div class="col mx-4">
                            <form action="{% url 'listausuario' %}" method="get">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Buscar Usuario" aria-label="Recipient's username" aria-describedby="button-addon2" name="query" value="{{ request.GET.query }}">
                                    <button class="btn btn-outline-dark" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>                                          
                                </div>
                            </form>                                          
                        </div>
                        <div class="col-2 mx-2">
                            <a class="btn btn-outline-success" id="tooltip" href="{% url 'registro' %}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Agregar Usuario"><i class="fa-solid fa-user-plus"></i> Nuevo</a>
                        </div>
                    </div>
                <!-- end col -->
                    <div class="col-md-3">
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#0">Pages</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Settings
                                </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- ========== title-wrapper end ========== -->

            <table class="table">
                <thead class="table-dark">
                  <tr class="text-center">
                    <th>Perfil</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Identificación</th>
                    <th>Nacionalidad</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    {% for user in object_list %}
                        {% if not user.is_superuser %}
                            <tr class="text-center">
                                <td>{% for grupo in user.groups.all %} {% if grupo.name == 'Abogados' %}<i class="fa-solid fa-scale-unbalanced"></i> {{grupo.name}} {% elif grupo.name == 'Clientes' %}<i class="fa-solid fa-person-half-dress"></i> {{grupo.name}} {% else %} <i class="fa-solid fa-address-card"></i> {{grupo.name}}{% endif %}{% endfor %}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.numero_identificacion }}</td>
                                <td>{{ user.nacionalidad }}</td>
                                {% if user.is_active %}
                                    <td>
                                        <a href="{% url 'editausuario' pk=user.id %}" title="Editar Usuario"><i class="fa-solid fa-user-pen text-info"></i></a> |
                                        {% if user.groups.first.name == 'Clientes' %}
                                            <a href="{% url 'solicitud_nueva' pk=user.id %}" title="Crear Solicitud"><i class="fa-regular fa-folder-open"></i></a> |
                                        {% endif %}
                                        <a href="#" title="Ver Procesos" class="text-secondary"><i class="fa-solid fa-chalkboard-user"></i></a> |
                                        <a href="{% url 'editaestado' pk=user.id %}" title="Desactivar Usuario" class="text-danger"><i class="fa-solid fa-user-slash"></i>></a>
                                    </td>
                                {% else %}
                                    <td>
                                        <a href="{% url 'editaestado' pk=user.id %}" title="Activar Usuario" class="text-success"><i class="fa-solid fa-user-plus"></i></a> |
                                        <a href="#" title="Ver Procesos" class="text-secondary"><i class="fa-solid fa-chalkboard-user"></i></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No hay usuarios registrados.</td>
                            </tr>
                    {% endfor %}
                </tbody>
              </table>
            {% if is_paginated %}
                <nav aria-label="Page navigation end-content">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-backward"></i></a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link disabled" href="#"><i class="fa-solid fa-backward"></i></a></li>
                        {% endif %}
                        {% for item in paginator.page_range %}
                            <li class="page-item"><a class="page-link" href="?page={{ item }}">{{ item }}</a></li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-forward"></i></a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link disabled" href="#"><i class="fa-solid fa-forward"></i></a></li>
                        {% endif %}                        
                    </ul>
                </nav>
            {% endif %}              
    </div>
    </section>

{% endblock %}