{% extends 'core/base.html' %}
{% block titulo %}Contacto{% endblock %} 
{% load static %}

{% block contenido %}
{% include 'core/menu.html' %}
<section class="container">
    <div class="row justify-content-evenly">
        <div class="text-center mt-3">
            <h1 class="display-3">Contáctanos</h1>
        </div>
        <div class="col-6 mt-4">
            <form class="" enctype="multipart/form-data">
                {{ crsf_token }}
                <div class="mb-3">
                    <label for="floatingInput">Nombre Completo</label>
                    {{ form.nombre  }}
                </div>
                <div class="mb-3">
                    <label for="floatingInput">Correo Electrónico</label>
                    {{ form.correo }}                    
                </div>
                <div class="mb-2">
                    <label for="floatingTextarea2">Mensaje</label>
                    {{ form.mensaje }}
                </div>
                <div class="mt-2 d-flex row justify-content-end">
                    <button type="reset" class="btn btn-secondary col-3 mx-2">Cancelar</button>
                    <button type="submit" class="btn btn-success col-3 mx-2">Enviar</button>
                </div>
            </form>
        </div>
        <div class="col-4 mt-3">
          <img src="https://img.freepik.com/foto-gratis/hombre-haciendo-su-proximo-movimiento_53876-64862.jpg?size=626&ext=jpg&ga=GA1.1.868789508.1707536565&semt=sph" alt="" class="img-fluid">
        </div>
      </div>
</section>

{% endblock %}