{% extends 'core/base.html' %}
{% block titulo %}Inicio{% endblock %}
{% load static %}

{% block contenido %}
{% include 'core/menu.html' %}
  <!-- Jumbotron -->
  <section class="container-fluid">
    <div class="row">
      <header class="bg-dark py-5">
          <div class="container px-5">
              <div class="row gx-5 justify-content-start">
                  <div class="col-lg-6">
                      <div class="my-5">
                          <h1 class="display-5 fw-bolder text-white mb-2">BUFETE JURIDICO MAGNUS</h1>
                          <p class="lead text-white-50 mb-4">EL BUFETE JURÍDICO MAGNUS, domicilio en Florida (V) de la manera mas atenta y por medio de la presente le da el agradecimiento por elegirnos para el proceso legal el cual se esta iniciando por parte de nosotros te puedes comunicar para suscribir tu contrato de participación pertinente como agradecimiento por confiar en nosotros.</p>
                          <div class="d-grid gap-3 d-sm-flex">
                              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="">Iniciar un proceso</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
    </div>
  </section>
  <!-- Section de promos -->
  <section class="container mt-5">
    <div class="row">

      <div class="card col mt-2">
        <img src="{% static 'media/img/asejuri.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Asesorías Jurídicas</h5>
          <p class="card-text">¿Necesitas orientación legal confiable y profesional? Nuestro servicio de asesoría jurídica está diseñado para brindarte el apoyo legal que necesitas en cualquier situación. Con un equipo de abogados altamente capacitados y con vasta experiencia, estamos preparados para ofrecerte soluciones legales efectivas y personalizadas.</p>
          <a href="#" class="btn btn-primary">Valor</a>
        </div>
      </div>

      <div class="card col mt-2">
        <img src="{% static 'media/img/representacion.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Representación Judicial </h5>
          <p class="card-text">¿Necesitas un abogado que defienda tus derechos y te represente ante los jueces, tribunales,fiascalias y autoridades administrativas? Nuestro servicio de representación jurídica está diseñado para proporcionarte una defensa sólida y efectiva. Con un equipo de abogados experimentados y especializados en diversas áreas del derecho, estamos listos para representarte con profesionalismo y dedicación.</p>
          <a href="#" class="btn btn-primary">Valor</a>
        </div>
      </div>

      <div class="card col mt-2">
        <img src="{%  static 'media/img/doculegal.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Elaborar Documentos Legales </h5>
          <p class="card-text">¿Necesitas documentos legales precisos y profesionales? Nuestro servicio de realización de documentos legales está aquí para ayudarte. Con años de experiencia y un equipo de expertos en derecho, garantizamos que tus documentos sean redactados con la máxima precisión y conforme a las leyes vigentes..</p>
          <a href="#" class="btn btn-primary">Valor</a>
        </div>
      </div>

    </div>
  </section>

  <!-- pie de página -->
  <footer class="text-center mt-5">
    <p>&copy; Todos los derechos reservados.</p>
  </footer>

{% endblock %}

