{% extends 'core/base.html' %}
{% block title %}Inicio{% endblock %}
{% load static %}

{% block contenido %}
{% include 'core/menu.html' %}
  <!-- Jumbotron -->
  <section class="container-fluid">
    <div class="row">
      <header class="bg-dark py-5">
          <div class="container px-5">
              <div class="row gx-5 justify-content-start">
                  <div class="col-lg-6">
                      <div class="my-5">
                          <h1 class="display-5 fw-bolder text-white mb-2">BUFETE JURIDICO MAGNUS</h1>
                          <p class="lead text-white-50 mb-4">EL BUFETE JURÍDICO MAGNUS, domicilio en Florida (V) de la manera mas atenta y por medio de la presente le da el agradecimiento por elegirnos para el proceso legal el cual se esta iniciando por parte de nosotros te puedes comunicar para suscribir tu contrato de participación pertinente como agradecimiento por confiar en nosotros.</p>
                          <div class="d-grid gap-3 d-sm-flex">
                              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="">Iniciar un proceso</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
    </div>
  </section>
  <!-- Section de promos -->
  <section class="container mt-5">
    <div class="row">

      <div class="card col mt-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jhonatan Gutierrez Diaz</h5>
          <p class="card-text">Abogado titulado con especialización en derechos constitucional y administrativo con sólida formación humanística, unida a un conocimiento integral del Derecho, que me permite desempeñarme en los sectores público y privado. Habilidades para interactuar en la solución de problemas socio-jurídicos, bajo los criterios de responsabilidad, lealtad y discreción, desde la interdisciplinariedad del derecho y el trabajo en equipo.</p>
          <a href="#" class="btn btn-primary">Perfil del Abogado</a>
        </div>
      </div>

      <div class="card col mt-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Wilson Humberto Rodriguez Diaz</h5>
          <p class="card-text">Abogado titulado con especialización en derecho penal y criminología e juzgamiento en el sistema penal acusatorio con sólida formación humanística, unida a un conocimiento integral del Derecho, que me permite desempeñarme en los sectores público y privado. Habilidades para interactuar en la solución de problemas socio-jurídicos, bajo los criterios de responsabilidad, lealtad y discreción, desde la interdisciplinariedad del derecho y el trabajo en equipo.</p>
          <a href="#" class="btn btn-primary">Perfil del Abogado</a>
        </div>
      </div>

      <div class="card col mt-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brayan Farid Gomez Anturi</h5>
          <p class="card-text">Abogado titulado e investigador con especialización en derecho y juzgamiento en el sistema penal acusatorio con sólida formación humanística, unida a un conocimiento integral del Derecho, que me permite desempeñarme en los sectores público y privado. Habilidades para interactuar en la solución de problemas socio-jurídicos, bajo los criterios de responsabilidad, lealtad y discreción, desde la interdisciplinariedad del derecho y el trabajo en equipo.</p>
          <a href="#" class="btn btn-primary">Perfil del Abogado</a>
        </div>
      </div>

    </div>
  </section>

  <!-- pie de página -->
  <footer class="text-center mt-5">
    <p>&copy; Todos los derechos reservados.</p>
  </footer>

{% endblock %}

