{% extends 'core/base.html' %}
{% block title %}Inicio{% endblock %}
{% load static %}

{% block contenido %}
{% include 'core/menu.html' %}
  <!-- Jumbotron -->
  <section class="container-fluid">
    <div class="row">
      <header class="bg-dark py-5">
          <div class="container px-5">
              <div class="row gx-5 justify-content-start">
                  <div class="col-lg-6">
                      <div class="my-5">
                          <h1 class="display-5 fw-bolder text-white mb-2">Encuentra aquí una nueva oportunidad basada en tus habilidades</h1>
                          <p class="lead text-white-50 mb-4">Buscamos alcanzar al mejor talento nacional</p>
                          <div class="d-grid gap-3 d-sm-flex">
                              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="">Iniciar un proceso</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
    </div>
  </section>
  <!-- Section de promos -->
  <section class="container mt-5">
    <div class="row">

      <div class="card col mt-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card col mt-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card col mt-2">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
  </section>

  <!-- pie de página -->
  <footer class="text-center mt-5">
    <p>&copy; Todos los derechos reservados.</p>
  </footer>

{% endblock %}

