{% extends 'core/base.html' %}
{% block title %}Nosotros{% endblock %} 
{% load static %}

{% block contenido %}
{% include 'core/menu.html' %}
<section class="container">
    <div class="row">
        <article class="col">
            <h2 class="display-3">Vision</h2>
            <p>El bufete jurídico Magnus tiene como visión ser la firma legal de referencia para las empresas emergentes, brindando asesoramiento legal integral y de alta calidad. En todo el suroccidente colombiano.</p>
        </article>
        <article class="col">
            <h2 class="display-3">Mision</h2>
            <p>Nuestra misión es prestar asesoría jurídica en todas las áreas del derecho a todas las personas que de alguna manera necesiten representación judicial o administrativa con integralidad eficacia y eficiencia bajo el compromiso de proteger los intereses de nuestros clientes y que nos permita aplicar estrategias qué solucionen dicho conflicto jurídico.</p>
        </article>
    </div>
</section>
{% endblock %}