{% extends 'core/base.html' %}
{% block title %}Nosotros{% endblock %} 
{% load static %}

{% block contenido %}
{% include 'core/menu.html' %}
<section class="container">
    <div class="row">
        <article class="col">
           <h2 class="display-3">Vision</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sint eligendi, assumenda provident minus sequi deleniti ipsam adipisci quo, odit, blanditiis placeat. Quaerat vel laborum sed optio assumenda deserunt accusantium.</p>
        </article>
        <article class="col">
            <h2 class="display-3">Mision</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt qui, ducimus labore accusantium quos excepturi voluptatum omnis quasi aliquid, molestiae, harum minima facere inventore doloremque perferendis exercitationem? Laborum, dicta consequatur.</p>
        </article>
    </div>
</section>
{% endblock %}