{% extends 'core/base.html' %}
{% block titulo %}Servicios{% endblock %}
{% load static %}

{% block contenido %}
{% include 'core/menu.html' %}
<section class="container">
    <div class="row">
            {% for servicio in object_list %}     
                <div class="col-sm-4 mb-3 mb-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ servicio.nombre_servicio }}</h5>
                            <p class="card-text">{{ servicio.descripcion_corta|safe }}</p>
                            <a href="{% url 'contacto' %}" class="btn btn-primary">Iniciar Procesos</a>
                        </div>
                    </div>
                </div>  
            {% endfor %}
    </div> 
</section>
{% endblock %}